<div class="card trans-card">
    <div class="row">
        <div class="col-sm-12">
            <h3>Login Here</h3>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <label for="username">Email</label>
                <input type="text" placeholder="Enter your Email" id="email" formControlName="email">
                <div class="error-feedback" *ngIf="hasDisplayableError('email')">
                    <ng-container [ngSwitch]="form.controls['email'].errors | firstkey">
                        <div *ngSwitchCase="'required'">Please enter email address.</div>
                    </ng-container>
                </div>

                <label for="password">Password</label>
                <input type="password" placeholder="Enter your password" id="password" formControlName="password">
                <div class="error-feedback" *ngIf="hasDisplayableError('password')">
                    <ng-container [ngSwitch]="form.controls['password'].errors | firstkey">
                        <div *ngSwitchCase="'required'">Please enter password.</div>
                    </ng-container>
                </div>

                <button>Login</button>

                <div class="button">
                    <div class="red"><i class="bi bi-google"></i> Google</div>
                    <div class="blue"><i class="bi bi-facebook"></i> Facebook</div>
                </div>

                <p class="toggle-text">
                    Don't have an account? <a class="pointer" routerLink="/signup">Sign up</a>
                </p>
            </form>
        </div>
    </div>

</div>