<div class="card trans-card">
    <div class="row">
        <div class="col-sm-12">
            <h3>Login Here</h3>

            <label for="username">Username/Email</label>
            <input type="text" placeholder="Enter your username" id="username">

            <label for="password">Password</label>
            <input type="password" placeholder="Enter your password" id="password">

            <button>Login</button>

            <div class="button">
                <div class="red"><i class="bi bi-google"></i> Google</div>
                <div class="blue"><i class="bi bi-facebook"></i> Facebook</div>
            </div>

            <p class="toggle-text">
                Don't have an account? <a class="pointer" routerLink="/signup">Sign up</a>
            </p>
        </div>
    </div>

</div>